target
.nrepl*
.lein-env
bower_components
.DS_Store
node_modules
*.jar
.vagrant
infrastructure/ansible/files/env
infrastructure/ansible/prod
new-infra/ansible/files/env
new-infra/ansible/prod
certs
logs
projects.edn
datomic
*.log
*.retry