.filter-survivor-enter {
  opacity: 0.01;
}
.filter-survivor-enter.filter-survivor-enter-active {
  opacity: 1;
  transition: all .2s;
}

.filter-survivor-leave {
  opacity: 1;
}

.filter-survivor-leave-active {
  opacity: 0.01;
  transition: all .2s;
}
